services:
  localstack:
    image: localstack/localstack:latest
    ports:
      - "4566:4566"
      - "4510-4559:4510-4559"
    environment:
      SERVICES: s3,secretsmanager,ecr,ecs,rds,elasticache,ec2,iam,sts,cloudwatch,logs,events
      DEFAULT_REGION: ap-northeast-2
      DOCKER_HOST: unix:///var/run/docker.sock
      PERSISTENCE: 1
    volumes:
      - localstack-data:/var/lib/localstack
      - /var/run/docker.sock:/var/run/docker.sock
volumes:
  localstack-data:
